@model Website.Views.Site.BlogModel
@{
}

<body class="container__page-projects">
    <div class="projects__block">
        <div class="container__projects-header">
            <h1 class="projects__header-text">Блог</h1>
        </div>

        <div class="blog">
            <div>
                <div class="blog__card-data">5 апреля 2020</div>
                <a class="blog__card" asp-controller="Site" asp-action="C_page1" target="_blank">
                    <div class="card__pucture1"></div>
                    <p class="card__title">
                        1C: Производственная безопасность
                    </p>
                    <p class="card__text">
                        Решения обеспечивают автоматизацию процессов учета,
                        планирования, контроля и формирования аналитической
                        отчетности в соответствии с требованиями законодательства РФ
                    </p>
                </a>
            </div>
            <div>
                <div class="blog__card-data">1 апреля 2020</div>
                <a class="blog__card" asp-controller="Site" asp-action="C_page2" target="_blank">
                    <div class="card__pucture2"></div>
                    <p class="card__title">
                        1С: Производственная безопасность
                    </p>
                    <p class="card__text">
                        Решения обеспечивают автоматизацию процессов учета,
                        планирования, контроля и формирования аналитической
                        отчетности в соответствии с требованиями законодательства РФ
                    </p>
                </a>
            </div>
            <div>
                <div class="blog__card-data">30 марта 2020</div>
                <a class="blog__card" asp-controller="Site" asp-action="C_page3" target="_blank">
                    <div class="card__pucture3"></div>
                    <p class="card__title">
                        1С: Производственная безопасность
                    </p>
                    <p class="card__text">
                        Решения обеспечивают автоматизацию процессов учета,
                        планирования, контроля и формирования аналитической
                        отчетности в соответствии с требованиями законодательства РФ
                    </p>
                </a>
            </div>
            <div>
                <div class="blog__card-data">28 марта 2020</div>
                <a class="blog__card" asp-controller="Site" asp-action="C_page4" target="_blank">
                    <div class="card__pucture4"></div>
                    <p class="card__title">
                        1С: Производственная безопасность
                    </p>
                    <p class="card__text">
                        Решения обеспечивают автоматизацию процессов учета,
                        планирования, контроля и формирования аналитической
                        отчетности в соответствии с требованиями законодательства РФ
                    </p>
                </a>
            </div>
        </div>
    </div>
</body>