@model Website.Views.Site.C_page4Model
@{
}

<body class="container__page-projects">
    <div class="projects__block">
        <div class="container__projects-header">
            <h1 class="projects__header-text">1С: Производственная безопасность</h1>
        </div>
        <div>
            <div class="blog__card-data">28 марта 2020</div>
            <div class="blog__page">
                <div class="page__card-pucture4"></div>
                <div>
                    <p class="blog__page-text">
                        Решения обеспечивают автоматизацию процессов учета,
                        планирования, контроля и формирования аналитической
                        отчетности в соответствии с требованиями законодательства РФ,
                        отраслевой и корпоративной специфики
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>