@model Website.Controllers.SiteController
@{
}

<body class="container__page-index">
    <div class="background">
        <p id="indexFieldText1" class="background__text">
            Оставить заявку
        </p>
    </div>
    <div class="container">
        <div class="field">
            <div id="indexFieldText2" class="field__text">
                Оставить заявку или задать вопрос
            </div>
            <form action="~/Site/AddRequest" method="post">
                <div class="field__user-data">
                    <div class="field__name">
                        <h3>ФИО</h3>
                        <input name="Name" style="height:20px; width:400px; font-size: 15px" id="Name" />
                    </div>
                    <div class="field__email">
                        <h3>Email</h3>
                        <input name="Email" style="height: 20px; width: 400px; font-size: 15px" id="Email" />
                    </div>
                </div>
                <div class="field__message">
                    <h3>Текст сообщения</h3>
                    <input name="Message" style="height: 50px; width: 830px; font-size: 15px" id="Message" />
                </div>
                <button id="indexBtnSendRequest" class="btn" type="submit" disabled>Отправить</button>
            </form>
        </div>
    </div>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/getDataIndex.js"></script>
</body>