@model Website.Views.Site.MrModel
@{
}

<body class="container__page-projects">
    <div class="projects__block">
        <table>
            <tr>
                <td class="sb__td-headertext"><h1 class="projects__header-text">Управление кадрами и расчет зарплаты</h1></td>
                <td class="sb__td-headericon"><div class="mr__icon"></div></td>
            </tr>
            <tr>
                <td class="sb__table-text">
                    <pre>
                    </pre>
                </td>
            </tr>
        </table>
    </div>
</body>