@model Website.Views.Site.sbModel
@{
}

<body class="container__page-projects">
    <div class="projects__block">
        <table>
            <tr>
                <td class="sb__td-headertext"><h1 class="projects__header-text">Обработка кредитных заявок в режиме онлайн</h1></td>
                <td class="sb__td-headericon"><div class="sb__icon"></div></td>
            </tr>
            <tr>
                <td class="sb__table-text">
                    <pre>
Для реализации проекта была выбрана платформа IBM WebSphere, поскольку входящий в нее инструментарий BPM
оказался наиболее подходящим для автоматизации уникальных бизнес-процессов заказчика.

В качестве пилотного процесса был автоматизирован процесс "Управление маркетинговыми коммуникациями",
что позволило банку протестировать возможности платформы IBM BPM.
                    </pre>
                </td>
            </tr>
        </table>
    </div>
    





    
</body>
