@model Website.Views.Home.EditContactsPageModel
@{
}

<body class="container__page-projects">
    <div class="projects__block">
        <div class="container__projects-header">
            <h1 class="projects__header-text">Контакты</h1>
        </div>
        <div class="contacts__container">
            <div class="contacts">
                <a class="contacts__tel" href="tel:89999999999">Телефон: 8(999)999-99-99</a>
                <p>Адрес: Республика Коми г. Печора</p>
            </div>
            <div class="map"></div>
        </div>
    </div>
</body>
