@model Website.Views.Home.EditServicesPageModel
@{
}

<body class="container__page-projects">
    <div class="projects__block">
        <div class="container__projects-header">
            <h1 class="projects__header-text">Что мы можем сделать</h1>
        </div>
        <div class="spoiler">
            <details class="spoiler__item">
                <summary class="spoiler__title">Импортозамещение</summary>
                <p class="spoiler__text">
                    В ряде работ было показано, что в целом импортозамещение способствует значительному росту
                    отечественного производства, создаются новые рабочие места, однако в долгосрочной
                    перспективе в странах Латинской Америки и Южной Америки наблюдалось снижение темпов
                    экономического роста.
                </p>
            </details>
            <details class="spoiler__item">
                <summary class="spoiler__title">Цифровые решения</summary>
                <p class="spoiler__text">
                    Компания "Цифровые решения"
                    Мы постоянно совершенствуем наши продукты и предоставляем высокоэффективные решения для
                    компаний из разных отраслей, разрабатывая проекты под индивидуальные особенности вашего бизнеса.
                </p>
            </details>
        </div>
    </div>
</body>
