@model Website.Views.Home.EditProjectsPageModel
@{
}

<body class="container__page-projects">
    <div class="projects__block">
        <div class="container__projects-header">
            <h1 class="projects__header-text">Проекты</h1>
        </div>
        <div class="container__page-projects">
            <ul class="container__projects-pictures">
                <li>
                    <div class="picture__border1">
                        <a asp-controller="Site" asp-action="Sb"></a>
                    </div>
                </li>
                <li>
                    <div class="picture__border2">
                        <a asp-controller="Site" asp-action="Mr"></a>
                    </div>
                </li>
                <li>
                    <div class="picture__border3">
                        <a asp-controller="" asp-action=""></a>
                    </div>
                </li>
            </ul>
        </div>
        <button name="btnAddProject" class="btn" onclick="document.location = 'https://localhost:44346/Home/AddProjectForm'">Добавить</button>
    </div>
</body>