@model Website.Controllers.HomeController
@{
}

<body class="container__page-index">
    <div class="background">
        <p class="background__text">
            <input id="editIndexFieldTextInput1" class="fielt_text__input"/>
        </p>
    </div>
    <div class="container">
        <div class="field">
            <div class="field__text">
                <input id="editIndexFieldTextInput2" class="fielt_text__input"/>
            </div>
            <form>
                <div class="field__user-data">
                    <div class="field__name">
                        <h3>ФИО</h3>
                        <input name="Name" style="height:20px; width:400px; font-size: 15px" id="Name" />
                    </div>
                    <div class="field__email">
                        <h3>Email</h3>
                        <input name="Email" style="height: 20px; width: 400px; font-size: 15px" id="Email" />
                    </div>
                </div>
                <div class="field__message">
                    <h3>Текст сообщения</h3>
                    <input name="Message" style="height: 50px; width: 830px; font-size: 15px" id="Message" />
                </div>
                <div class="btnSaveIndex">
                    <button id="editBtnSendRequest" class="btnEdit" type="button" onclick="SaveChange();">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
    <script src="~/js/getDataEditIndex.js"></script>
</body>